/* style for footer */

.footer {
    display: flex;
    height: 9vh;
    padding-left: 7.5vw;
}
.footer__link {
    padding-right: 2.4vw;
    font-family: var(--additional-font);
    font-size: 1.25em;
    text-decoration: none;
    color: var(--button-background);
}